.nav-ico-text{
    font-size: 14px;
};
.nav-border-top{
    border-top: 1px solid $black;
    padding: 5px;
};
.nav-link-tab{
    color: $black;
    text-decoration: none;
};
.nav-link-tab:hover{
    color: $tbbimport;
};
.nav-link-tab:active{
    color: $tbbimport;
};
.bor-l{
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid white;;
}