.bg-cover{
    background-size: cover;
    background-position: center center;
};
.li-bor-b{
    display: block;
};
.li-bor-b:hover{
    border-bottom: 2px solid $tbbimport;
};

.fa-li-bor-b {
    display: block;
};
